@media only screen and (min-width: 200px) and  (max-width: 575px) {
    header{
        flex-direction: column;
        
        gap: 15px;
        padding: 10px;
        align-items: stretch;
    }
    .headerleft{
        justify-content: center;
       
    }
    .logo{
        padding: 10px;
    }
    .headeraddress{
        padding: 10px;
    }
    .headeraddress p{
        font-size: 12px;

    }
    .headeraddress h3{
        font-size: 15px;
        
    }
    .headerbtn{
    position: fixed;
    justify-content: center;
    background-color: white;
    bottom: 0px;
    width: 100%;
    margin-right: 0px;
    
    }
    .headerbtn button{
        padding: 10px;
    }
    .bannersection{
        display: none;
    }
    .orderbanner{
        flex-direction: column;
        padding: 10px;
    }
    .categoryitems{
        flex-basis: 25%;
    }
   .productitems{
    flex-basis: 49%;

   }
   .productsection{
    padding: 10px 10px;
    margin-top: 10px;
    
   }
    .footer-mid-row1{
        padding: 10px;
        flex-direction: column;
    }
    footer{
        padding-top: 0px;
    }
    
    .usefullinks {
        gap: 35px;
    }
}
